<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.music_player.mapper.MyListContainMapper">
    <!--getPlaylistOrLoveByCId-->
    <select id="getPlaylistOrLoveByCid" resultType="java.lang.Integer">
        SELECT song_id
        FROM my_list_contain
        WHERE client_id = #{cid}
          AND (type = 0 OR type = #{type})
    </select>
</mapper>