<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.music_player.mapper.MySheetMapper">
    <!--getMySheetListByCid-->
    <select id="getMySheetListByCid" resultType="java.lang.Integer">
        SELECT sheet_id
        FROM my_sheet
        WHERE client_id = #{cid}
    </select>
</mapper>